.card {
  --color-scheme-light-bg: rgba(255, 255, 255, 0.8);
  --color-scheme-light-bg-selected: rgba(0, 0, 0, 0.15);
  --color-scheme-light-text: #111;
  --color-scheme-light-border: rgba(0, 0, 0, 0.1);
  --color-scheme-light-svg-color: rgba(0, 0, 0, 0.4);

  --color-scheme-dark-bg: rgba(0, 0, 0, 0.8);
  --color-scheme-dark-bg-selected: rgba(255, 255, 255, 0.2);
  --color-scheme-dark-text: #f8f8f8;
  --color-scheme-dark-border: rgba(255, 255, 255, 0.3);
  --color-scheme-dark-svg-color: rgba(255, 255, 255, 0.3);
}
